<configuration packagingData="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%10thread] %-5level %logger{36} - %msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="net.devh.boot.grpc.client" level="info"/>
    <logger name="net.devh.boot.grpc.common" level="info"/>
    <logger name="net.devh.boot.grpc.server" level="info"/>
    <logger name="net.devh.boot.grpc.test" level="info"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
